.contact-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 1rem;
  font-weight:100

}

.left-side {
  flex: 1;
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side img {
  max-width: 75%;
  height: auto;
  border-radius: 12px;
}

.headings {
  margin-bottom: 2rem;
  
}


.heading-main {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #c7e77d; 

  
}
/* Headings animation */
.heading-main,
.heading-sub {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideUp 1s forwards; /* duration + apply forwards */
}

/* Delay for subheading */
.heading-sub {
  animation-delay: 0.9s;
}

/* Keyframes for fade + slide */
@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Colors */
.heading-main {
  color:  #c7e77d; 
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

/* .heading-sub {
  color:  #c7e77d;
  font-size: 1.2rem;
  margin-bottom: 2rem;
} */


.heading-sub {
  font-size: 1.2rem;
  font-weight: 100;
  color: whitesmoke;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.contact-form input,
.contact-form textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.contact-form button {
  padding: 0.75rem;
  background-color:#c7e77d ;
  color: rgb(51, 49, 49);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.contact-form button:hover {
  background-color:  rgb(197, 241, 88);
}

.contact-status {
  margin-top: 1rem;
  font-weight: 500;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-page {
    flex-direction: column;
    gap: 1.5rem;
  }

  .heading-main {
    font-size: 1.75rem;
  }

  .heading-sub {
    font-size: 1rem;
  }
}
